{# This is a part of Maketok Site. Licensed under GPL 3.0 #}
{# @project site #}
{# @developer Oleg Kulik slayer.birden@gmail.com maketok.com #}
{# note: this is blog index #}
{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div id="info" class="info">
    <span class="important">{% trans %}%description%{% endtrans %}</span>
</div>
<section id="articles">
    {% for article in articles %}
        <article class="article">
            <h4>
                <a class="article-title" href="{{ base_url }}/blog/{{ article.code }}">{{ article.title }}</a>
            </h4>
            <div class="article-info">
                <span class="article-date">{{ article.created_at|date("F jS \\a\\t g:ia") }}</span>
                <span class="article-by">by</span>
                <span class="article-author">{{ article.author }}</span>
            </div>
            {% autoescape false %}
            <div class="article-content">{{ article.content|nl2br|truncate(400) }}</div>
            {% endautoescape %}
            <span class="article-link">
                <a href="{{ base_url }}/blog/{{ article.code }}" class="general-link">{% trans %}Open{% endtrans %}</a>
            </span>
            <span class="article-comments-link">
                <a href="{{ base_url }}/blog/{{ article.code }}#disqus_thread" class="comment-link">{% trans %}Comments{% endtrans %}</a>
            </span>

        </article>
    {% else %}
        <span>No articles found in the system! You really need to add one.</span>
    {% endfor %}
</section>
{% endblock %}
{% block footer %}
<div class="footer-content">
    <span class="important">{% trans %}Hello World!{% endtrans %}</span>
</div>
{% endblock %}
{% block before_body_end %}
    <script type="text/javascript">
        var disqus_shortname = 'maketokcom';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}
