{# note: this is blog index #}
{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
<style type="text/css">
    .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<div id="info" class="info">
    <span class="important">{% trans description %}</span>
</div>
<section id="articles">
    {% for article in articles %}
        <article>
            <h4>{{ article.title }}</h4>
            <div class="article-content">{{ article.content }}</div>
            <div class="article-author">{{ article.author }}</div>
            <div class="article-date">{{ article.created_at|date("F jS \\a\\t g:ia") }}</div>
            <div><a href="{{ article.url }}" class="general-link">{% trans "Open" %}</a></div>
        </article>
    {% else %}
        <span>No articles found in the system! You really need to add one.</span>
    {% endfor %}
</section>
{% endblock %}
{% block footer %}
<div class="footer-content info">
    <span class="important">{% trans "Hello World!" %}</span>
</div>
{% endblock %}