{% extends "base-manager.html.twig" %}
{% form_theme form 'maketok-form_table_layout.html.twig' %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ css_url }}form.css">
{% endblock %}
{% block content %}
    <div id="info" class="info">
        <span class="important">{% trans %}%description%{% endtrans %}</span>
    </div>
    <form method="post" action="{{ current_url }}">
        {{ form_widget(form) }}
        <button type="reset">{% trans %}Reset{% endtrans %}</button>
        <button type="submit">{% trans %}Submit{% endtrans %}</button>
        <a href="{{ base_url }}/modules">{% trans %}Back{% endtrans %}</a>
    </form>

{% endblock %}
