{% extends "base-manager.html.twig" %}
{% block content %}
    <div id="info" class="info">
        <span class="important">{% trans %}%description%{% endtrans %}</span>
    </div>
    <table>
        <tr>
            <th>{% trans %}Module Code{% endtrans %}</th>
            <th>{% trans %}Version{% endtrans %}</th>
            <th>{% trans %}Is Active{% endtrans %}</th>
            <th>{% trans %}Updated At{% endtrans %}</th>
            <th>{% trans %}Area{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    {% for module in modules %}
        <tr>
            <td>{{ module.module_code }}</td>
            <td>{{ module.version }}</td>
            <td>{{ module.active }}</td>
            <td>{{ module.updated_at }}</td>
            <td>{{ module.area }}</td>
            <td><a href="{{ base_url }}/{{ module.area }}/{{ module.module_code }}">{% trans %}Edit{% endtrans %}</a></td>
        </tr>
    {% else %}
        <tr><td colspan="5">No modules found in the system! Very strange, how is this message displayed than??</td></tr>
    {% endfor %}
    </table>
{% endblock %}
