{# This is a part of Maketok site package. #}
{# @author Oleg Kulik <slayer.birden@gmail.com> #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{% for link in links %}
    <li class="{{ link.code }}{% if link.children %} dropdown{% endif %}{% if ((link.href in path_info) and (link.href != '/')) or (current_url == link.href) %} active{% endif %}">
        {% if link.children %}
            <a href="{{ link.href }}"
               class="dropdown-toggle{% if (path_info == link.href) or (current_url == link.href) %} active{% endif %}"
               data-toggle="dropdown"
               role="button"
               aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% include "navigation.html.twig" with {'links': link.children} %}
            </ul>
        {% elseif link.href %}
            <a href="{{ link.href }}" title="{{ link.title }}">{{ link.title }}</a>
        {% else %}
            <span class="navbar-text">{{ link.title }}</span>
        {% endif %}
        {% if link.children %}

        {% endif %}
    </li>
{% endfor %}
