{# note: this is blog index #}
{% extends "admin.html.twig" %}
{% form_theme form 'maketok-form_table_layout.html.twig' %}
{% block head %}
{{ parent() }}
    <link rel="stylesheet" href="{{ css_url }}jquery.datetimepicker.css">
    <link rel="stylesheet" href="{{ css_url }}form.css">
    <script src="{{ js_url }}jquery.js"></script>
    <script src="{{ js_url }}jquery.datetimepicker.js"></script>
{% endblock %}
{% block content %}
<div id="info" class="info">
    <span class="important">{% trans %}%description%{% endtrans %}</span>
</div>
    {{ form(form) }}
    <script type="text/javascript">
        $(function() {
            $( "#article_created_at" ).datetimepicker({format:'Y-m-d H:i:s'});
            $( "#article_updated_at" ).datetimepicker({format:'Y-m-d H:i:s'});
        });
    </script>
{% endblock %}
