{# This is a part of Maketok site package. #}
{# @author Oleg Kulik <slayer.birden@gmail.com> #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{# note: this is blog index #}
{% extends "base-manager.html.twig" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<section id="articles">
    <a class="button" href="{{ base_url }}/blog/article/new">{% trans %}Add New{% endtrans %}</a>
    <table>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Code{% endtrans %}</th>
            <th>{% trans %}Description Excerpt{% endtrans %}</th>
            <th>{% trans %}Author{% endtrans %}</th>
            <th>{% trans %}Created At{% endtrans %}</th>
            <th>{% trans %}Updated At{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.code }}</td>
            <td>{{ article.description|truncate(50) }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.created_at|date("F jS \\a\\t g:ia") }}</td>
            <td>{{ article.updated_at|date("F jS \\a\\t g:ia") }}</td>
            <td>
                <a href="{{ base_url }}/blog/article/edit/{{ article.id }}">{% trans %}Edit{% endtrans %}</a>
                <a href="{{ base_url }}/blog/article/delete/{{ article.id }}"
                   onclick="return window.confirm('{% trans %}Are you sure you want to remove this article?{% endtrans %}')">{% trans %}Delete{% endtrans %}</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="7">No articles found in the system! You really need to add one.</td></tr>
    {% endfor %}
    </table>
</section>
{% endblock %}
