<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% trans %}Admin Manager area{% endtrans %}</title>
    {% block head %}
        <link rel="stylesheet" href="{{ css_url }}style.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <header>
        {% block search %}{% endblock %}
        {% block customer_area %}{% endblock %}
    </header>
    <nav>
        {% block menu %}
            <ul>
                <li><a href="{{ base_url }}/graphs">{% trans %}Graphs{% endtrans %}</a></li>
                <li><a href="{{ base_url }}/system">{% trans %}System Management{% endtrans %}</a></li>
                <li><a href="{{ base_url }}/health">{% trans %}Health check{% endtrans %}</a></li>
            </ul>
        {% endblock %}
    </nav>
    <section id="content">
        {% block content %}
            <button onclick="window.open('{{ install_url }}');">{% trans %}Run installer{% endtrans %}</button>
        {% endblock %}
    </section>
    <footer>
        {% block footer %}{% endblock %}
        {% trans %}&copy; 2014 <a href="http://maketok.com">maketok.com</a>.{% endtrans %}
    </footer>
    {% block before_body_end %}{% endblock %}
</div>
</body>
</html>