{# This is a part of Maketok site package. #}
{# @author Oleg Kulik <slayer.birden@gmail.com> #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ title }}</title>
    {% block head %}
        {#<link rel="stylesheet" href="{{ css_url }}style.css">#}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <header>
        <a href="{{ base_url }}" class="logo"><strong>{% trans %}Maketok Admin Management Area{% endtrans %}</strong></a>
        {% block search %}{% endblock %}
        {% block customer_area %}{% endblock %}
        <div id="info" class="info">
            <h1>{% trans %}%description%{% endtrans %}</h1>
        </div>
    </header>
    <nav>
        <ul>{% include 'navigation.html.twig' with {'links': links} %}</ul>
    </nav>
    <section id="content">
        {% for type, messages in session.flashbag.all() %}
            {% for message in messages %}
                <ul class="message {{ type }}">
                    <li>{{ message }}</li>
                </ul>
            {% endfor %}
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    <footer>
        {% block footer %}{% endblock %}
        {% trans %}&copy; 2014 <a href="http://maketok.com">maketok.com</a>.{% endtrans %}
    </footer>
    {% block before_body_end %}{% endblock %}
</div>
</body>
</html>
